<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

     <Style>
    .centro{
        margin-top: 200px;
        margin-left: 350px;
        width: 600px;
        background-color: aliceblue;
        padding: 15px;
        border-radius: 20px;
        color: rgb(251, 81, 110)
        
    }

    .postagemBotao{
        margin-left: 170px;
        margin-right: 20px;
        
        
        
    }

    .titulo{
        text-align: center;

    }
    .apresentacao{
        text-align: center;
    }
    .botao1{
        background-color: aquamarine;
        border: none;
        padding: 6px;
        border-radius: 20px;
        color: blue;

    }
    .botao2{
        background-color: aquamarine;
        border: none;
        padding: 6px;
        border-radius: 20px;
        color: blue;
        
    }



</Style>



</head>
<body style="background-image: url('https://img.freepik.com/vetores-gratis/fundo-de-nuvens-de-algodao-de-acucar-em-aquarela_23-2149238021.jpg?w=826&t=st=1679239721~exp=1679240321~hmac=f8830eda337329ace1f016ab6060bd0a8628ff4b520cf2ebd0a624e4d30b51f8');  background-size: cover">
   

<div class="centro">
<h1 class="titulo">Bem vindo ao seu diario </h1>
<h2 class="apresentacao">Aqui você pode escrever seus pensamentos, sonhos, desejos, narrar seu dia e muito mais!!!</h2>
<a class="postagemBotao" href="/cad"><button class="botao1">Nova postagem</button></a>
<a href="/lista"><button class="botao2">Lista de postagens</button></a>

</div>
</body>
</html>
