<Style>
    .centro{
        margin-top: 200px;
        margin-left: 400px;
        width: 600px;
    }

    .postagemBotao{
        margin-left: 100px;
        margin-right: 20px;
    }
</Style>

<div class="centro">
<h1 class="apresentação">Bem vindo ao seu diario </h1>
<h2>Aqui você pode escrever seus pensamentos, sonhos, desejos, narrar seu dia e muito mais</h2>
<a class="postagemBotao" href="/cad"><button>Nova postagem</button></a>
<a href="/lista"><button>Lista de postagens</button></a>

</div>
