<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .postagem {
            width: 350px;
            height: 250px;
            background-color: rgba(0, 255, 255, 0.681);
            padding: 6px;
            border: solid palevioletred 2px;

        }

        .deletar {
            margin-top: 20px;
            border: solid red 2px;
            border-radius: 20px;
            background-color: rgba(255, 0, 0, 0.512);

        }
    </style>

</head>

<body
    style="background-image: url('https://img.freepik.com/fotos-gratis/fundo-de-aquarela-de-nuvem-por-do-sol_1409-1735.jpg?w=996&t=st=1679241908~exp=1679242508~hmac=7ef0dab27f65a47cad1d25617008552a1fafe600a10abe3214b086e4690e5635'); background-size:cover">
    <h1>Lista de Posts</h1>

    {{#each posts}}
    <div class=" postagem">
        <h1>{{titulo}}</h1>
        <small> {{createdAt}} </small>
        <p>{{conteudo}}</p>
        <a href="/deletar/{{id}}"><button class="deletar">Deletar</button></a>
    </div>




    {{/each}}
</body>

</html>